<html>
    <head>
        <title>Toda Aleatoria</title>
    </head>
    <body>
        <div>
            <h1><a href="">Toda Aleatoria</a></h1>
        </div>

        <div>
            <p>published: 17.06.2017, 16:45</p>
            <h2><a href="">Programando pela primeira vez</a></h2>
            <p>A emoção é real. Pra quem nunca havia nem aberto o prompt de comando do pc, tô feliz pracas</p>
        </div>

        <div>
            <p>published: 17.06.2017, 17:00</p>
            <h2><a href="">Descobri o HTML</a></h2>
            <p>Olha ELA!</p>
        </div>
    </body>